.createProjectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.createProjectContainer form {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.createProjectContainer input[type="text"] {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.createProjectContainer textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.createProjectContainer button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}