
.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    margin: -16px;
    padding: 10px;
    height: 100vh;
}
.loginContainer h1 {
  margin-bottom: 20px;
  color: #fff;
}
.loginContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(243, 243, 244, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  padding: 16px;
}
.loginContainer input {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  width: 200px;
}
.loginContainer button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  margin: 5px;
}
.loginContainer button:hover {
  background-color: #45a049;
}
.loginContainer .switchBtn {
  background-color: transparent;
  color: #fff;
  margin-top: 10px;
}
.loginContainer .switchBtn:hover {
    background-color: transparent;
  text-decoration: underline;
}
